<document>
    <stackTemplate>
        <banner>

        </banner>
        <collectionList>
            <carousel>
                <section>
                    {{#each banner }}
                    <lockup data-href-page="{{ showOrMovie productCategory }}"
                        data-href-page-options="{{toJSON this }}">
                        <img src="{{ splashAWeb images.splashAWeb }}" class="darkImage"
                            style="width:960; height:440;" />
                        <overlay>
                            <title class="showAndScrollTextOnHighlight">{{ localTitle }}</title>
                            <text class="overlayTextLayout">{{ year }}</text>
                        </overlay>
                    </lockup>
                    {{/each}}
                </section>
            </carousel>
            <shelf>
                <header>
                    <title>Kategorie</title>
                </header>
                <section>
                    {{#each categories}}
                    <lockup data-href-page="shows-grid" data-href-page-options="{{toJSON this }}">
                        <img class="tile21x9" src="{{ asset_url 'img/thumbnails/21x9.png'}}" />
                        <overlay>
                            <title class="showAndScrollTextOnHighlight"
                                style="tv-position: center; tv-align:center; text-align:center;">{{title}}</title>
                        </overlay>
                    </lockup>
                    {{/each}}
                </section>
            </shelf>
            <shelf>
                <header>
                    <title>Doporučujeme</title>
                </header>
                <section>
                    {{#each doporucujeme }}
                    <lockup data-href-page="play" data-href-page-options="{{toJSON this }}">
                        <img class="tile16x9" src="{{ splash169 images.splash169 }}" />
                        <title class="showAndScrollTextOnHighlight">{{ localTitle }}</title>
                        <text class="showAndScrollTextOnHighlight">{{ episodeTitle }}</text>
                    </lockup>
                    {{/each}}
                </section>
            </shelf>
            <shelf>
                <header>
                    <title>Pořady a Seriály</title>
                </header>
                <section>
                    {{#each porady }}
                    <lockup data-href-page="show-page" data-href-page-options="{{toJSON this }}">
                        <img class="tile16x9" src="{{ splash169 images.splash169 }}" />
                        <title class="showAndScrollTextOnHighlight">{{ localTitle }}</title>
                        <text class="showAndScrollTextOnHighlight">{{ episodeTitle }}</text>
                    </lockup>
                    {{/each}}
                </section>
            </shelf>
            <shelf>
                <header>
                    <title>Prima filmy</title>
                </header>
                <section>
                    {{#each primaFilmy }}
                    <lockup data-href-page="programme-details" data-href-page-options="{{toJSON this }}">
                        <img class="tile85x100" src="{{ coverWeb images.coverWeb }}" />
                        <title class="showAndScrollTextOnHighlight">{{ localTitle }}</title>
                        <text class="showAndScrollTextOnHighlight">{{ episodeTitle }}</text>
                    </lockup>
                    {{/each}}
                </section>
            </shelf>
            <shelf>
                <header>
                    <title>Prima Vaření</title>
                </header>
                <section>
                    {{#each primaVareni }}
                    <lockup data-href-page="show-page" data-href-page-options="{{toJSON this }}">
                        <img class="tile16x9" src="{{ splash169 images.splash169 }}" />
                        <title class="showAndScrollTextOnHighlight">{{ localTitle }}</title>
                        <text class="showAndScrollTextOnHighlight">{{ episodeTitle }}</text>
                    </lockup>
                    {{/each}}
                </section>
            </shelf>
            <shelf>
                <header>
                    <title>Videopůjčovna</title>
                </header>
                <section>
                    {{#each videopujcovna }}
                    <lockup data-href-page="programme-details" data-href-page-options="{{toJSON this }}">
                        <img class="tile16x9" src="{{ splash169 images.splash169 }}" />
                        <title class="showAndScrollTextOnHighlight">{{ localTitle }}</title>
                        <text class="showAndScrollTextOnHighlight">{{ episodeTitle }}</text>
                    </lockup>
                    {{/each}}
                </section>
            </shelf>
        </collectionList>
    </stackTemplate>
</document>